In [1]:
from typing import List, Dict
import pandas as pd
from pydantic import BaseModel, Field

def process_user_info(user_info_data: List[Dict]) -> pd.DataFrame:
    """
    Process the user_info table: rename columns, handle NaN values,
    verify columns, and create missing columns if necessary.

    :param user_info_data: The user_info data.
    :return: A DataFrame with user_info table information, where missing columns are added and NaN values are replaced with 0.
    """
    # Expected column names for user_info table
    expected_columns = ['consumer_name', 'consumer_id', 'circle', 'bill_month', 'address', 'pincode']

    # Extract the nested user information
    user_info = user_info_data[0]['user']

    # Create DataFrame from user_info data
    user_info_df = pd.DataFrame(dict([(k, pd.Series(v)) for k, v in user_info.items()]))

    # Handle NaN values
    user_info_df.fillna('', inplace=True)

    # Verify and create missing columns
    for col in expected_columns:
        if col not in user_info_df.columns:
            user_info_df[col] = ''

    user_info_df = user_info_df[expected_columns]

    return user_info_df

# Example usage
user_info_data = user_info_data = [{
    'user': {
        'consumer_name': ['M/S JN MEDICAL COLLEGE SAONGIMEGHE WARDH'],
        'consumer_id': [510019001103],
        'circle': ['WARDHA CIRCLE'],
        'bill_month': ['MAY-2023'],
        'address': ['JNMEDICALCOLLEGESAONGIMWRD'],
        'pincode': [442006]
    }
}]
processed_user_info = process_user_info(user_info_data)
processed_user_info

,consumer_name,consumer_id,circle,bill_month,address,pincode
0,M/S JN MEDICAL COLLEGE SAONGIMEGHE WARDH,510019001103,WARDHA CIRCLE,MAY-2023,JNMEDICALCOLLEGESAONGIMWRD,442006

In [ ]:
[{'user': {'consumer_name': ['M/S JN MEDICAL COLLEGE SAONGIMEGHE WARDH'], 'consumer_id': [510019001103], 'circle': ['WARDHA CIRCLE'], 'bill_month': ['MAY-2023'], 'address': ['JNMEDICALCOLLEGESAONGIMWRD'], 'pincode': [442006]}}]

In [8]:
def process_bill_info(bill_info_data: List[Dict]) -> pd.DataFrame:
    """
    Process the bill_info table: rename columns, handle NaN values,
    verify columns, and create missing columns if necessary.

    :param bill_info_data: The bill_info data.
    :return: A DataFrame with bill_info table information, where missing columns are added and NaN values are replaced with 0.
    """
    # Expected column names for bill_info table
    expected_columns = [
        'tariff', 'voltage_level', 'express_feeder_flag', 'urban_rural_flag',
        'total_contract_demand', 'msedcl_cd', 'oa_cd_conventional',
        'oa_cd_non_conventional_non_solar', 'highest_recorded_msedcl_demand',
        'oa_cd_non_conventional_solar'
    ]

    # Extract the nested bill information
    bill_info = bill_info_data[0]['bill_info']

    # Create DataFrame from bill_info data
    bill_info_df = pd.DataFrame(dict([(k, pd.Series(v)) for k, v in bill_info.items()]))

    # Handle NaN values
    bill_info_df.fillna(0, inplace=True)

    # Verify and create missing columns
    for col in expected_columns:
        if col not in bill_info_df.columns:
            bill_info_df[col] = 0

    bill_info_df = bill_info_df[expected_columns]

    return bill_info_df

# Example usage
bill_info_data = [{
    'bill_info': {
        'tariff': ['146 HT-VIII B'],
        'voltage_level': [11],
        'express_feeder_flag': ['No'],
        'urban_rural_flag': ['R'],
        'total_contract_demand': [1750],
        'msedcl_cd': [1750],
        'oa_cd_conventional': [0],
        'oa_cd_non_conventional_non_solar': [1250],
        'highest_recorded_msedcl_demand': [745],
        'oa_cd_non_conventional_solar': [0]
    }
}]

processed_bill_info = process_bill_info(bill_info_data)
processed_bill_info

,tariff,voltage_level,express_feeder_flag,urban_rural_flag,total_contract_demand,msedcl_cd,oa_cd_conventional,oa_cd_non_conventional_non_solar,highest_recorded_msedcl_demand,oa_cd_non_conventional_solar
0,146 HT-VIII B,11,No,R,1750,1750,0,1250,745,0

In [9]:
def process_msedcl_consumption(msedcl_consumption_data: List[Dict]) -> pd.DataFrame:
    """
    Process the msedcl_consumption table: rename columns, handle NaN values,
    verify columns, and create missing columns if necessary.

    :param msedcl_consumption_data: The msedcl_consumption data.
    :return: A DataFrame with msedcl_consumption table information, where missing columns are added and NaN values are replaced with 0.
    """
    # Expected column names for msedcl_consumption table
    expected_columns = [
        'demand_charges_rate', 'demand_charges_amount', 'energy_charges_rate', 'energy_charges_amount',
        'tod_tariff_ec', 'fac_charges_rate', 'fac_charges_amount', 'green_tariff_rate', 'green_tariff_amount',
        'bulk_consumption_rebate', 'electricity_duty', 'tax_collection_at_source', 'tax_on_sale_rate',
        'tax_on_sale_amount', 'incremental_consumption_rebate', 'demand_penalty', 'additional_surcharge',
        'cross_subsidy_surcharge', 'wheeling_charges', 'transmission_charges', 'operating_charges',
        'debit_adjustments', 'total_bill_for_msedcl_consumption_a'
    ]

    # Extract the nested msedcl consumption information
    msedcl_consumption = msedcl_consumption_data[0]['msedcl_consumption']

    # Create DataFrame from msedcl_consumption data
    msedcl_consumption_df = pd.DataFrame(dict([(k, pd.Series(v)) for k, v in msedcl_consumption.items()]))

    # Handle NaN values and None values
    msedcl_consumption_df.fillna(0, inplace=True)

    # Verify and create missing columns
    for col in expected_columns:
        if col not in msedcl_consumption_df.columns:
            msedcl_consumption_df[col] = 0

    msedcl_consumption_df = msedcl_consumption_df[expected_columns]

    return msedcl_consumption_df

# Example usage
msedcl_consumption_data = [{
    'msedcl_consumption': {
        'demand_charges_rate': [499.0],
        'demand_charges_amount': [611275.0],
        'energy_charges_rate': [10.4],
        'energy_charges_amount': [4491021.6],
        'tod_tariff_ec': [59488.1],
        'fac_charges_rate': [0.0],
        'fac_charges_amount': [0.0],
        'green_tariff_rate': [0.66],
        'green_tariff_amount': [0.0],
        'bulk_consumption_rebate': [0.0],
        'electricity_duty': [1113400.24],
        'tax_collection_at_source': [7064.38],
        'tax_on_sale_rate': [0.18],
        'tax_on_sale_amount': [77107.39],
        'incremental_consumption_rebate': [-95769.0],
        'demand_penalty': [0.0],
        'additional_surcharge': [0.0],
        'cross_subsidy_surcharge': [0.0],
        'wheeling_charges': [259097.4],
        'transmission_charges': [0.0],
        'operating_charges': [0.0],
        'debit_adjustments': [0.0],
        'total_bill_for_msedcl_consumption_a': [6403708.91]
    }
}]

processed_msedcl_consumption = process_msedcl_consumption(msedcl_consumption_data)
processed_msedcl_consumption

,demand_charges_rate,demand_charges_amount,energy_charges_rate,energy_charges_amount,tod_tariff_ec,fac_charges_rate,fac_charges_amount,green_tariff_rate,green_tariff_amount,bulk_consumption_rebate,...,tax_on_sale_amount,incremental_consumption_rebate,demand_penalty,additional_surcharge,cross_subsidy_surcharge,wheeling_charges,transmission_charges,operating_charges,debit_adjustments,total_bill_for_msedcl_consumption_a
0,499.0,611275.0,10.4,4491021.6,59488.1,0.0,0.0,0.66,0.0,0.0,...,77107.39,-95769.0,0.0,0.0,0.0,259097.4,0.0,0.0,0.0,6403708.91

In [12]:
def process_oa_consumption(oa_consumption_data: List[Dict]) -> pd.DataFrame:
    """
    Process the oa_consumption table: rename columns, handle NaN values,
    verify columns, and create missing columns if necessary.

    :param oa_consumption_data: The oa_consumption data.
    :return: A DataFrame with oa_consumption table information, where missing columns are added and NaN values are replaced with 0.
    """
    # Expected column names for oa_consumption table
    expected_columns = [
        'demand_charges_rate', 'demand_charges_amount', 'energy_charges_rate', 'energy_charges_amount',
        'tod_tariff_ec', 'fac_charges_rate', 'fac_charges_amount', 'green_tariff_rate', 'green_tariff_amount',
        'solar_rooftop_credit', 'bulk_consumption_rebate', 'electricity_duty', 'tax_on_sale_rate',
        'tax_on_sale_amount', 'incremental_consumption_rebate', 'demand_penalty', 'additional_surcharge',
        'cross_subsidy_surcharge', 'wheeling_charges', 'transmission_charges', 'operating_charges',
        'dispute_amount', 'total_bill_for_open_access_b'
    ]

    # Extract the nested oa consumption information
    oa_consumption = oa_consumption_data[0]['oa_consumption']

    # Create DataFrame from oa_consumption data
    oa_consumption_df = pd.DataFrame(dict([(k, pd.Series(v)) for k, v in oa_consumption.items()]))

    # Handle NaN values and None values
    oa_consumption_df.fillna(0, inplace=True)

    # Verify and create missing columns
    for col in expected_columns:
        if col not in oa_consumption_df.columns:
            oa_consumption_df[col] = 0

    oa_consumption_df = oa_consumption_df[expected_columns]

    return oa_consumption_df

# Example usage
oa_consumption_data = [{
    'oa_consumption': {
        'demand_charges_rate': [0.0],
        'demand_charges_amount': [0.0],
        'energy_charges_rate': [16.04],
        'energy_charges_amount': [0.0],
        'tod_tariff_ec': [None],
        'fac_charges_rate': [0.0],
        'fac_charges_amount': [0.0],
        'green_tariff_rate': [0.66],
        'green_tariff_amount': [0.0],
        'solar_rooftop_credit': [0.0],
        'bulk_consumption_rebate': [0.0],
        'electricity_duty': [523953.15],
        'tax_on_sale_rate': [0.18],
        'tax_on_sale_amount': [30375.72],
        'incremental_consumption_rebate': [0.0],
        'demand_penalty': [0.0],
        'additional_surcharge': [226252.95],
        'cross_subsidy_surcharge': [287494.35],
        'wheeling_charges': [113968.8],
        'transmission_charges': [175702.0],
        'operating_charges': [15450.0],
        'dispute_amount': [0.0],
        'total_bill_for_open_access_b': [1373196.97]
    }
}]

processed_oa_consumption = process_oa_consumption(oa_consumption_data)
processed_oa_consumption

,demand_charges_rate,demand_charges_amount,energy_charges_rate,energy_charges_amount,tod_tariff_ec,fac_charges_rate,fac_charges_amount,green_tariff_rate,green_tariff_amount,solar_rooftop_credit,...,tax_on_sale_amount,incremental_consumption_rebate,demand_penalty,additional_surcharge,cross_subsidy_surcharge,wheeling_charges,transmission_charges,operating_charges,dispute_amount,total_bill_for_open_access_b
0,0.0,0.0,16.04,0.0,0,0.0,0.0,0.66,0.0,0.0,...,30375.72,0.0,0.0,226252.95,287494.35,113968.8,175702.0,15450.0,0.0,1373196.97

In [13]:
def process_billing_details(billing_details_data: List[Dict]) -> pd.DataFrame:
    """
    Process the billing_details table: rename columns, handle NaN values,
    verify columns, and create missing columns if necessary.

    :param billing_details_data: The billing_details data.
    :return: A DataFrame with billing_details table information, where missing columns are added and NaN values are replaced with 0.
    """
    # Expected column names for billing_details table
    expected_columns = [
        'total_current_bill', 'current_interest', 'principle_arrears', 'interest_arrears',
        'total_bill_amount_rounded_rs', 'delayed_payment_charges_rs', 'security_deposit_held_rs',
        'addl_s_d_demanded_rs', 's_d_arrears_rs'
    ]

    # Extract the nested billing details information
    billing_details = billing_details_data[0]['billing_details']

    # Create DataFrame from billing_details data
    billing_details_df = pd.DataFrame(dict([(k, pd.Series(v)) for k, v in billing_details.items()]))

    # Handle NaN values and None values
    billing_details_df.fillna(0, inplace=True)

    # Verify and create missing columns
    for col in expected_columns:
        if col not in billing_details_df.columns:
            billing_details_df[col] = 0

    billing_details_df = billing_details_df[expected_columns]

    return billing_details_df

# Example usage
billing_details_data = [{
    'billing_details': {
        'total_current_bill': [7776905.88],
        'current_interest': [0.0],
        'principle_arrears': [-140968.3],
        'interest_arrears': [0.0],
        'total_bill_amount_rounded_rs': [7635940.0],
        'delayed_payment_charges_rs': [97211.32],
        'security_deposit_held_rs': [12172368.0],
        'addl_s_d_demanded_rs': [2516100.0],
        's_d_arrears_rs': [0.0]
    }
}]

processed_billing_details = process_billing_details(billing_details_data)
processed_billing_details

,total_current_bill,current_interest,principle_arrears,interest_arrears,total_bill_amount_rounded_rs,delayed_payment_charges_rs,security_deposit_held_rs,addl_s_d_demanded_rs,s_d_arrears_rs
0,7776905.88,0.0,-140968.3,0.0,7635940.0,97211.32,12172368.0,2516100.0,0.0

In [16]:
def process_adjustment_and_tcs(adjustment_and_tcs_data: List[Dict]) -> pd.DataFrame:
    """
    Process the adjustment_and_tcs table: rename columns, handle NaN values,
    verify columns, and create missing columns if necessary.

    :param adjustment_and_tcs_data: The adjustment_and_tcs data.
    :return: A DataFrame with adjustment_and_tcs table information, where missing columns are added and NaN values are replaced with 0.
    """
    # Expected column names for adjustment_and_tcs table
    expected_columns = [
        'prior_period_recovery_debit', 'prior_period_recovery_credit', 
        'prompt_payment_discount_debit', 'prompt_payment_discount_credit',
        'adjustment_to_fac_prior_period_debit', 'adjustment_to_fac_prior_period_credit',
        'incremental_consumption_rebate_debit', 'incremental_consumption_rebate_credit',
        'bill_date', 'amount_for_tcs', 'tcs_rate', 'tcs_amount'
    ]

    # Extract the nested adjustment_and_tcs information
    adjustment_and_tcs = adjustment_and_tcs_data[0]['adjustment_and_tcs']

    # Create DataFrame from adjustment_and_tcs data
    adjustment_and_tcs_df = pd.DataFrame(dict([(k, pd.Series(v)) for k, v in adjustment_and_tcs.items()]))

    # Handle NaN values and None values
    adjustment_and_tcs_df.fillna(0, inplace=True)

    # Verify and create missing columns
    for col in expected_columns:
        if col not in adjustment_and_tcs_df.columns:
            adjustment_and_tcs_df[col] = 0

    adjustment_and_tcs_df = adjustment_and_tcs_df[expected_columns]

    return adjustment_and_tcs_df

# Example usage
adjustment_and_tcs_data = [{
    'adjustment_and_tcs': {
        'prior_period_recovery_debit': [0.0],
        'prior_period_recovery_credit': [32303.71],
        'prompt_payment_discount_debit': [0.0],
        'prompt_payment_discount_credit': [52061.37],
        'adjustment_to_fac_prior_period_debit': [0.0],
        'adjustment_to_fac_prior_period_credit': [108662.93],
        'incremental_consumption_rebate_debit': [0.0],
        'incremental_consumption_rebate_credit': [95769.0],
        'bill_date': ['09-May-23'],
        'amount_for_tcs': [7064383.42],
        'tcs_rate': [0.1],
        'tcs_amount': [7064.38]
    }
}]

processed_adjustment_and_tcs = process_adjustment_and_tcs(adjustment_and_tcs_data)
processed_adjustment_and_tcs

,prior_period_recovery_debit,prior_period_recovery_credit,prompt_payment_discount_debit,prompt_payment_discount_credit,adjustment_to_fac_prior_period_debit,adjustment_to_fac_prior_period_credit,incremental_consumption_rebate_debit,incremental_consumption_rebate_credit,bill_date,amount_for_tcs,tcs_rate,tcs_amount
0,0.0,32303.71,0.0,52061.37,0.0,108662.93,0.0,95769.0,09-May-23,7064383.42,0.1,7064.38

In [17]:
def process_energy_drawal(energy_drawal_data: List[Dict]) -> pd.DataFrame:
    """
    Process the energy_drawal table: rename columns, handle NaN values,
    verify columns, and create missing columns if necessary.

    :param energy_drawal_data: The energy_drawal data.
    :return: A DataFrame with energy_drawal table information, where missing columns are added and NaN values are replaced with 0.
    """
    # Expected column names for energy_drawal table
    expected_columns = [
        'total_drawal_units', 'total_injection_units', 'units_msedcl_tariff', 'units_temp_tariff',
        'current_month_generation', 'last_month_banked', 'over_injected_units', 'billed_demand',
        'highest_recorded_demand', 'rkvah', 'p_f', 'l_f'
    ]

    # Extract the nested energy_drawal information
    energy_drawal = energy_drawal_data[0]['energy_drawal']

    # Create DataFrame from energy_drawal data
    energy_drawal_df = pd.DataFrame(dict([(k, pd.Series(v)) for k, v in energy_drawal.items()]))

    # Handle NaN values and None values
    energy_drawal_df.fillna(0, inplace=True)

    # Verify and create missing columns
    for col in expected_columns:
        if col not in energy_drawal_df.columns:
            energy_drawal_df[col] = 0

    energy_drawal_df = energy_drawal_df[expected_columns]

    return energy_drawal_df

# Example usage
energy_drawal_data = [{
    'energy_drawal': {
        'total_drawal_units': [597128],
        'total_injection_units': [168754],
        'units_msedcl_tariff': [428374],
        'units_temp_tariff': [0],
        'current_month_generation': [168754],
        'last_month_banked': [0],
        'over_injected_units': [0],
        'billed_demand': [1225],
        'highest_recorded_demand': [1248.6],
        'rkvah': [75614],
        'p_f': [0.992],
        'l_f': [33]
    }
}]

processed_energy_drawal = process_energy_drawal(energy_drawal_data)
processed_energy_drawal

,total_drawal_units,total_injection_units,units_msedcl_tariff,units_temp_tariff,current_month_generation,last_month_banked,over_injected_units,billed_demand,highest_recorded_demand,rkvah,p_f,l_f
0,597128,168754,428374,0,168754,0,0,1225,1248.6,75614,0.992,33

In [19]:
def process_tov_table(tov_data: List[Dict]) -> pd.DataFrame:
    """
    Process the TOV (Time of Use Variance) table data: extract zone and units information
    into a structured DataFrame.

    :param tov_data: The TOV data in the specified format.
    :return: A DataFrame with TOV table information.
    """
    # Extract the nested tod information
    tod = tov_data[0]['tod']

    # Ensure units are converted to floats for consistency
    units = [float(u) for u in tod['units']]

    # Verify and create DataFrame with verified columns
    verified_columns = ['zone', 'units']
    tod_data = {col: tod.get(col, []) for col in verified_columns}
    
    # Create DataFrame from tod data
    tod_df = pd.DataFrame(tod_data)

    return tod_df

# Example usage
tov_data = [{
    'tod': {
        'zone': ['A Zone', 'B Zone', 'C Zone', 'D Zone'],
        'units': [75614, 123174, 171697, 70348]
    }
}]

processed_tov = process_tov_table(tov_data)
processed_tov

     zone   units
0  A Zone   75614
1  B Zone  123174
2  C Zone  171697
3  D Zone   70348

In [21]:
def process_oa_permissions(oa_data: List[Dict]) -> pd.DataFrame:
    """
    Process the Open Access Permissions data: extract relevant information into a structured DataFrame.

    :param oa_data: The Open Access Permissions data in the specified format.
    :return: A DataFrame with Open Access Permissions information.
    """
    # Extract the nested oa_permissions information
    oa_permissions = oa_data[0]['oa_permissions']

    # Ensure all lists are converted to Series for DataFrame consistency
    oa_permissions_data = {key: pd.Series(value) for key, value in oa_permissions.items()}

    # Create DataFrame from oa_permissions data
    oa_permissions_df = pd.DataFrame(oa_permissions_data)

    return oa_permissions_df

# Example usage
oa_data = [{
    'oa_permissions': {
        'gen_station_id': ['660S0001'],
        'name': ['Vanakusawade, satara'],
        'term': ['Medium Term'],
        'generation_type': ['WIND'],
        'oa_cd': [1250],
        'cpp_ipp': ['Non Captive'],
        'agreement_period': ['01-DEC-21 to 30-NOV-26'],
        'meter_number': ['057-29196504']
    }
}]

processed_oa_permissions = process_oa_permissions(oa_data)
processed_oa_permissions

,gen_station_id,name,term,generation_type,oa_cd,cpp_ipp,agreement_period,meter_number
0,660S0001,"Vanakusawade, satara",Medium Term,WIND,1250,Non Captive,01-DEC-21 to 30-NOV-26,057-29196504

In [3]:
import pandas as pd
from typing import List, Dict

def process_oa_permissions(oa_permissions_data: List[Dict]) -> pd.DataFrame:
    """
    Process the oa_permissions table: rename columns, handle NaN values,
    verify columns, and create missing columns if necessary.

    :param oa_permissions_data: The oa_permissions data.
    :return: A DataFrame with oa_permissions table information, where missing columns are added and NaN values are replaced with 0.
    """
    # Expected column names for oa_permissions table
    expected_columns = [
        'gen_station_id', 'name', 'term', 'generation_type', 'oa_cd',
        'cpp_ipp', 'agreement_period', 'meter_number'
    ]

    # Extract the nested oa_permissions information
    oa_permissions = oa_permissions_data[0]['oa_permissions']

    # Create DataFrame from oa_permissions data
    oa_permissions_df = pd.DataFrame({k: v if v is not None else [0] for k, v in oa_permissions.items()})

    # Handle NaN values and None values
    oa_permissions_df.fillna(0, inplace=True)

    # Verify and create missing columns
    for col in expected_columns:
        if col not in oa_permissions_df.columns:
            oa_permissions_df[col] = 0

    # Ensure the DataFrame has the expected columns in the correct order
    oa_permissions_df = oa_permissions_df[expected_columns]

    return oa_permissions_df

# Example usage
oa_permissions_data = [{
    'oa_permissions': {
        'gen_station_id': ['660S0001'],
        'name': ['Vanakusawade, satara'],
        'term': ['Medium Term'],
        'generation_type': ['WIND'],
        'oa_cd': [1250],
        'cpp_ipp': ['Non Captive'],
        'agreement_period': ['01-DEC-21 to 30-NOV-26'],
        'meter_number': ['057-29196504']
    }
}]

processed_oa_permissions = process_oa_permissions(oa_permissions_data)
processed_oa_permissions

,gen_station_id,name,term,generation_type,oa_cd,cpp_ipp,agreement_period,meter_number
0,660S0001,"Vanakusawade, satara",Medium Term,WIND,1250,Non Captive,01-DEC-21 to 30-NOV-26,057-29196504

In [ ]:
def mongo_insertion(pdf_path: str, user_id: int, collection) -> dict:
    """
    Extracts information from a PDF bill file, processes it, and saves it to a database.

    This function orchestrates the extraction and storage process for bill-related information
    obtained from the provided PDF file. It handles user information, bill details, consumption dates,
    bill history, and other relevant tables.

    :param pdf_path: The file path to the PDF document containing the bill information.
    :param user_id: The ID of the user associated with the bill.
    :param collection: The MongoDB collection where the data will be stored.

    :return: A dictionary with the status, message, user_id, and consumer_id.
    """
    try:
        type_of_bill = ht_or_lt_or_graph(pdf_path)
        if type_of_bill in ["HT", "LT"]:
            extraction = ExtractionAndDisplay(pdf_path)
            user_table = extraction.user_table()
            consumer_id = int(user_table.iloc[0]['consumer_id'])

            if not handle_existing_user_and_consumer(user_id, consumer_id, collection, extraction, user_table, type_of_bill):
                handle_new_user_or_consumer(user_id, consumer_id, collection, extraction, user_table, type_of_bill)
                
        elif type_of_bill in ["OA Type"]:
            extraction = ExtractionOpenAccess(pdf_path)
            user_table = extraction.oa_user_table()
            consumer_id = int(user_table.iloc[0]['consumer_id'])

            if not handle_existing_user_and_consumer(user_id, consumer_id, collection, extraction, user_table, type_of_bill, oa=True):
                handle_new_user_or_consumer(user_id, consumer_id, collection, extraction, user_table, type_of_bill, oa=True)

        return {"status": 200, "message": "Success", "user_id": user_id, "consumer_id": consumer_id}
    
    except Exception as e:
        return {"status": 500, "message": str(e), "user_id": user_id, "consumer_id": None}

def handle_existing_user_and_consumer(user_id, consumer_id, collection, extraction, user_table, type_of_bill, oa=False):
    db_user_id = fetch_user_id(user_id, collection)
    db_consumer_id = fetch_consumer_id_for_user(user_id, consumer_id, collection)

    if db_user_id and db_consumer_id:
        if oa:
            bill_month = user_table.iloc[0]['bill_month']
            bill_month_in_db = fetch_bill_month(user_id, consumer_id, collection)
            if bill_month in bill_month_in_db:
                return {"status": 202, "message": "consumer and bill already exists", "user_id": user_id, "consumer_id": consumer_id}
        else:
            date_table = extraction.reading_dates_table()
            current_date = date_table.iloc[0]['current_date']
            dates_in_db = fetch_current_reading_date(user_id, consumer_id, collection)
            if current_date in dates_in_db:
                return {"status": 202, "message": "consumer and bill already exists", "user_id": user_id, "consumer_id": consumer_id}

        message = "adding new bill for a consumer"
        user_table['user_id'] = user_id
        tables = extraction.other_tables()
        tables['user'] = user_table
        tables['reading_dates'] = date_table
        prepare_and_insert(tables, collection)
        return True
    return False

def handle_new_user_or_consumer(user_id, consumer_id, collection, extraction, user_table, type_of_bill, oa=False):
    if user_id:
        message = "adding new consumer and his bill for a user"
    else:
        message = "adding new user and new consumer and his bill"
    
    user_table['user_id'] = user_id
    date_table = extraction.reading_dates_table()

    if oa:
        tables = extraction.oa_concurrent_tables()
    else:
        tables = extraction.other_tables()

    tables['user'] = user_table
    tables['reading_dates'] = date_table
    prepare_and_insert(tables, collection)